.para {
  font-family: 'Inter';
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 400;
  color: #487254;
  margin-top: 1.3rem;
  line-height: 2.3rem;
}
.cardTitle {
  font-family: 'Inter';
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  margin-top: 1rem;
  line-height: 1.2rem;
}

.cardLink {
  font-family: 'Inter';
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  color: #4b4a47;
  line-height: 2rem;
}
.imgContainer {
  .img {
    width: 20rem;
  }
}
